* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: iranSans;
}

body {
  background-color: rgb(236, 235, 235);
}

@font-face {
  font-family: iranSans;
  src: url(../fonts/FontsFree-Net-ir_sans.ttf);
}

.form-content-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn {
  text-decoration: none;
  background-color: #ff5c39;
  color: rgb(7, 7, 7);
  font-size: 28px;
  font-weight: 900;
  border-radius: 5px;
  padding: 6px 8px;
  position: absolute;
  top: 10px;
  left: 50px;
}

.home-btn:hover {
  opacity: 0.8;
  background-color: #ff5c39;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .home-btn {
    top: 10px;
    left: 10px;
  }
}

.row-style {
  background-color: #fff;
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  border-radius: 10px;
}

.row-style-two {
  background-color: #fff;
  width: 70%;
  height: 550px;
  display: none;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  border-radius: 10px;
}

.background-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .background-right {
    display: none;
  }
}

.form-img {
  width: 100%;
  height: 500px;
  margin-right: -24px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-img-two {
  width: 80%;
  height: 500px;
}

.background-left {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 24px;
  font-weight: 900;
  padding: 70px 0px 30px 0px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form-title {
    padding: 30px 0px 10px 0px;
  }
}

.form-title-two {
  font-size: 24px;
  font-weight: 900;
  margin-right: 10px;
  padding: 20px 0px 10px 0px;
  cursor: pointer;
}

.form-text-two {
  font-size: 12px;
  padding-top: 30px;
}

.form-input-num {
  padding: 15px 10px;
  border: 0;
  border: 2px solid #a7a5a5;
  border-radius: 10px;
}

.btn-p {
  background-color: rgb(224, 219, 219);
  margin: 60px 0px 20px 0px;
}

@media screen and (max-width: 768px) {
  .btn-p {
    margin: 20px 0px 20px 0px;
  }
}

.go-new-page {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
}

.go-new-page:hover {
  color: #ff5c39;
}

.btn-back-page {
  text-decoration: none;
  background-color: #ff5c39;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  margin: 20px 10px 0px 0px;
  padding: 8px 0px;
  text-align: center;
}

.btn-back-page:hover {
  opacity: 0.8;
  color: #fff;
}

.go-new-page-two {
  text-decoration: none;
  background-color: #615654;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  margin: 20px 10px 0px 0px;
  padding: 8px 0px;
  text-align: center;
}

.go-new-page-two:hover {
  opacity: 0.8;
  color: #fff;
}
